<div class="banner">
  <a href="http://software-carpentry.org" title="Software Carpentry">
    <img alt="Software Carpentry banner" src="{{site.swc_site}}/img/software-carpentry-banner.png" />
  </a>
  <a href="http://www.nzgenomics.co.nz/" title="NZ Genomics Limited">
    <img alt="NZGL banner" src="http://www.nzgenomics.co.nz/images/logo.jpg" style="height: 30px;" />
  </a>
  <a href="https://www.nesi.org.nz/" title="NeSI">
    <img alt="NeSI banner" src="https://www.nesi.org.nz/sites/default/themes/nesi_bootstrap/img/logo.png" style="height: 30px;" />
  </a>
  
</div>
